<div class="panel" id="panel">
	<table>
		<tr>
			<td class="panelhdr">Single room mode</td><td class="panelval"><input type="checkbox" id="singleroommode"/>
			LeftRight = Q-D, DownUp = X-Space
			</td>
		</tr>
		<tr>
			<td class="panelhdr">Show bounding boxes</td><td class="panelval"><input type="checkbox" id="showboundingboxes"/>
			Pos Closer = S, Further = Z
			</td>
		</tr>
		<tr>
			<td class="panelhdr">No lighting</td><td class="panelval"><input type="checkbox" id="nolights"/>
			Hide box = Enter, LockView = RMB
			</td>
		</tr>
		
		<tr>
				<td class="panelhdr">Room 0-9</td><td class="panelval">
				<input type="checkbox" id="room0"/>
				<input type="checkbox" id="room1"/>
				<input type="checkbox" id="room2"/>
				<input type="checkbox" id="room3"/>
				<input type="checkbox" id="room4"/>
				<input type="checkbox" id="room5"/>
				<input type="checkbox" id="room6"/>
				<input type="checkbox" id="room7"/>
				<input type="checkbox" id="room8"/>
				<input type="checkbox" id="room9"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 10-19</td><td class="panelval">
				<input type="checkbox" id="room10"/>
				<input type="checkbox" id="room11"/>
				<input type="checkbox" id="room12"/>
				<input type="checkbox" id="room13"/>
				<input type="checkbox" id="room14"/>
				<input type="checkbox" id="room15"/>
				<input type="checkbox" id="room16"/>
				<input type="checkbox" id="room17"/>
				<input type="checkbox" id="room18"/>
				<input type="checkbox" id="room19"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 20-29</td><td class="panelval">
				<input type="checkbox" id="room20"/>
				<input type="checkbox" id="room21"/>
				<input type="checkbox" id="room22"/>
				<input type="checkbox" id="room23"/>
				<input type="checkbox" id="room24"/>
				<input type="checkbox" id="room25"/>
				<input type="checkbox" id="room26"/>
				<input type="checkbox" id="room27"/>
				<input type="checkbox" id="room28"/>
				<input type="checkbox" id="room29"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 30-39</td><td class="panelval">
				<input type="checkbox" id="room30"/>
				<input type="checkbox" id="room31"/>
				<input type="checkbox" id="room32"/>
				<input type="checkbox" id="room33"/>
				<input type="checkbox" id="room34"/>
				<input type="checkbox" id="room35"/>
				<input type="checkbox" id="room36"/>
				<input type="checkbox" id="room37"/>
				<input type="checkbox" id="room38"/>
				<input type="checkbox" id="room39"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 40-49</td><td class="panelval">
				<input type="checkbox" id="room40"/>
				<input type="checkbox" id="room41"/>
				<input type="checkbox" id="room42"/>
				<input type="checkbox" id="room43"/>
				<input type="checkbox" id="room44"/>
				<input type="checkbox" id="room45"/>
				<input type="checkbox" id="room46"/>
				<input type="checkbox" id="room47"/>
				<input type="checkbox" id="room48"/>
				<input type="checkbox" id="room49"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 50-59</td><td class="panelval">
				<input type="checkbox" id="room50"/>
				<input type="checkbox" id="room51"/>
				<input type="checkbox" id="room52"/>
				<input type="checkbox" id="room53"/>
				<input type="checkbox" id="room54"/>
				<input type="checkbox" id="room55"/>
				<input type="checkbox" id="room56"/>
				<input type="checkbox" id="room57"/>
				<input type="checkbox" id="room58"/>
				<input type="checkbox" id="room59"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 60-69</td><td class="panelval">
				<input type="checkbox" id="room60"/>
				<input type="checkbox" id="room61"/>
				<input type="checkbox" id="room62"/>
				<input type="checkbox" id="room63"/>
				<input type="checkbox" id="room64"/>
				<input type="checkbox" id="room65"/>
				<input type="checkbox" id="room66"/>
				<input type="checkbox" id="room67"/>
				<input type="checkbox" id="room68"/>
				<input type="checkbox" id="room69"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 70-79</td><td class="panelval">
				<input type="checkbox" id="room70"/>
				<input type="checkbox" id="room71"/>
				<input type="checkbox" id="room72"/>
				<input type="checkbox" id="room73"/>
				<input type="checkbox" id="room74"/>
				<input type="checkbox" id="room75"/>
				<input type="checkbox" id="room76"/>
				<input type="checkbox" id="room77"/>
				<input type="checkbox" id="room78"/>
				<input type="checkbox" id="room79"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 80-89</td><td class="panelval">
				<input type="checkbox" id="room80"/>
				<input type="checkbox" id="room81"/>
				<input type="checkbox" id="room82"/>
				<input type="checkbox" id="room83"/>
				<input type="checkbox" id="room84"/>
				<input type="checkbox" id="room85"/>
				<input type="checkbox" id="room86"/>
				<input type="checkbox" id="room87"/>
				<input type="checkbox" id="room88"/>
				<input type="checkbox" id="room89"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 90-99</td><td class="panelval">
				<input type="checkbox" id="room90"/>
				<input type="checkbox" id="room91"/>
				<input type="checkbox" id="room92"/>
				<input type="checkbox" id="room93"/>
				<input type="checkbox" id="room94"/>
				<input type="checkbox" id="room95"/>
				<input type="checkbox" id="room96"/>
				<input type="checkbox" id="room97"/>
				<input type="checkbox" id="room98"/>
				<input type="checkbox" id="room99"/>	
			</td>
		</tr>
		
		<tr>
				<td class="panelhdr">Room 100-109</td><td class="panelval">
				<input type="checkbox" id="room100"/>
				<input type="checkbox" id="room101"/>
				<input type="checkbox" id="room102"/>
				<input type="checkbox" id="room103"/>
				<input type="checkbox" id="room104"/>
				<input type="checkbox" id="room105"/>
				<input type="checkbox" id="room106"/>
				<input type="checkbox" id="room107"/>
				<input type="checkbox" id="room108"/>
				<input type="checkbox" id="room109"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 110-119</td><td class="panelval">
				<input type="checkbox" id="room110"/>
				<input type="checkbox" id="room111"/>
				<input type="checkbox" id="room112"/>
				<input type="checkbox" id="room113"/>
				<input type="checkbox" id="room114"/>
				<input type="checkbox" id="room115"/>
				<input type="checkbox" id="room116"/>
				<input type="checkbox" id="room117"/>
				<input type="checkbox" id="room118"/>
				<input type="checkbox" id="room119"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 120-129</td><td class="panelval">
				<input type="checkbox" id="room120"/>
				<input type="checkbox" id="room121"/>
				<input type="checkbox" id="room122"/>
				<input type="checkbox" id="room123"/>
				<input type="checkbox" id="room124"/>
				<input type="checkbox" id="room125"/>
				<input type="checkbox" id="room126"/>
				<input type="checkbox" id="room127"/>
				<input type="checkbox" id="room128"/>
				<input type="checkbox" id="room129"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 130-139</td><td class="panelval">
				<input type="checkbox" id="room130"/>
				<input type="checkbox" id="room131"/>
				<input type="checkbox" id="room132"/>
				<input type="checkbox" id="room133"/>
				<input type="checkbox" id="room134"/>
				<input type="checkbox" id="room135"/>
				<input type="checkbox" id="room136"/>
				<input type="checkbox" id="room137"/>
				<input type="checkbox" id="room138"/>
				<input type="checkbox" id="room139"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 140-149</td><td class="panelval">
				<input type="checkbox" id="room140"/>
				<input type="checkbox" id="room141"/>
				<input type="checkbox" id="room142"/>
				<input type="checkbox" id="room143"/>
				<input type="checkbox" id="room144"/>
				<input type="checkbox" id="room145"/>
				<input type="checkbox" id="room146"/>
				<input type="checkbox" id="room147"/>
				<input type="checkbox" id="room148"/>
				<input type="checkbox" id="room149"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 150-159</td><td class="panelval">
				<input type="checkbox" id="room150"/>
				<input type="checkbox" id="room151"/>
				<input type="checkbox" id="room152"/>
				<input type="checkbox" id="room153"/>
				<input type="checkbox" id="room154"/>
				<input type="checkbox" id="room155"/>
				<input type="checkbox" id="room156"/>
				<input type="checkbox" id="room157"/>
				<input type="checkbox" id="room158"/>
				<input type="checkbox" id="room159"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 160-169</td><td class="panelval">
				<input type="checkbox" id="room160"/>
				<input type="checkbox" id="room161"/>
				<input type="checkbox" id="room162"/>
				<input type="checkbox" id="room163"/>
				<input type="checkbox" id="room164"/>
				<input type="checkbox" id="room165"/>
				<input type="checkbox" id="room166"/>
				<input type="checkbox" id="room167"/>
				<input type="checkbox" id="room168"/>
				<input type="checkbox" id="room169"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 170-179</td><td class="panelval">
				<input type="checkbox" id="room170"/>
				<input type="checkbox" id="room171"/>
				<input type="checkbox" id="room172"/>
				<input type="checkbox" id="room173"/>
				<input type="checkbox" id="room174"/>
				<input type="checkbox" id="room175"/>
				<input type="checkbox" id="room176"/>
				<input type="checkbox" id="room177"/>
				<input type="checkbox" id="room178"/>
				<input type="checkbox" id="room179"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 180-189</td><td class="panelval">
				<input type="checkbox" id="room180"/>
				<input type="checkbox" id="room181"/>
				<input type="checkbox" id="room182"/>
				<input type="checkbox" id="room183"/>
				<input type="checkbox" id="room184"/>
				<input type="checkbox" id="room185"/>
				<input type="checkbox" id="room186"/>
				<input type="checkbox" id="room187"/>
				<input type="checkbox" id="room188"/>
				<input type="checkbox" id="room189"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 190-199</td><td class="panelval">
				<input type="checkbox" id="room190"/>
				<input type="checkbox" id="room191"/>
				<input type="checkbox" id="room192"/>
				<input type="checkbox" id="room193"/>
				<input type="checkbox" id="room194"/>
				<input type="checkbox" id="room195"/>
				<input type="checkbox" id="room196"/>
				<input type="checkbox" id="room197"/>
				<input type="checkbox" id="room198"/>
				<input type="checkbox" id="room199"/>	
			</td>
		</tr>
		
		<tr>
				<td class="panelhdr">Room 200-209</td><td class="panelval">
				<input type="checkbox" id="room200"/>
				<input type="checkbox" id="room201"/>
				<input type="checkbox" id="room202"/>
				<input type="checkbox" id="room203"/>
				<input type="checkbox" id="room204"/>
				<input type="checkbox" id="room205"/>
				<input type="checkbox" id="room206"/>
				<input type="checkbox" id="room207"/>
				<input type="checkbox" id="room208"/>
				<input type="checkbox" id="room209"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 210-219</td><td class="panelval">
				<input type="checkbox" id="room210"/>
				<input type="checkbox" id="room211"/>
				<input type="checkbox" id="room212"/>
				<input type="checkbox" id="room213"/>
				<input type="checkbox" id="room214"/>
				<input type="checkbox" id="room215"/>
				<input type="checkbox" id="room216"/>
				<input type="checkbox" id="room217"/>
				<input type="checkbox" id="room218"/>
				<input type="checkbox" id="room219"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 220-229</td><td class="panelval">
				<input type="checkbox" id="room220"/>
				<input type="checkbox" id="room221"/>
				<input type="checkbox" id="room222"/>
				<input type="checkbox" id="room223"/>
				<input type="checkbox" id="room224"/>
				<input type="checkbox" id="room225"/>
				<input type="checkbox" id="room226"/>
				<input type="checkbox" id="room227"/>
				<input type="checkbox" id="room228"/>
				<input type="checkbox" id="room229"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 230-239</td><td class="panelval">
				<input type="checkbox" id="room230"/>
				<input type="checkbox" id="room231"/>
				<input type="checkbox" id="room232"/>
				<input type="checkbox" id="room233"/>
				<input type="checkbox" id="room234"/>
				<input type="checkbox" id="room235"/>
				<input type="checkbox" id="room236"/>
				<input type="checkbox" id="room237"/>
				<input type="checkbox" id="room238"/>
				<input type="checkbox" id="room239"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 240-249</td><td class="panelval">
				<input type="checkbox" id="room240"/>
				<input type="checkbox" id="room241"/>
				<input type="checkbox" id="room242"/>
				<input type="checkbox" id="room243"/>
				<input type="checkbox" id="room244"/>
				<input type="checkbox" id="room245"/>
				<input type="checkbox" id="room246"/>
				<input type="checkbox" id="room247"/>
				<input type="checkbox" id="room248"/>
				<input type="checkbox" id="room249"/>	
			</td>
		</tr>
		<tr>
				<td class="panelhdr">Room 250-259</td><td class="panelval">
				<input type="checkbox" id="room250"/>
				<input type="checkbox" id="room251"/>
				<input type="checkbox" id="room252"/>
				<input type="checkbox" id="room253"/>
				<input type="checkbox" id="room254"/>
				<input type="checkbox" id="room255"/>
				<input type="checkbox" id="room256"/>
				<input type="checkbox" id="room257"/>
				<input type="checkbox" id="room258"/>
				<input type="checkbox" id="room259"/>	
			</td>
		</tr>
	</table>
</div>
